.timeline-frame {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #ffffff;
}

.timeline-content {
    overflow: hidden;
    position: relative;
    background: url('img/timeline-mid-axis-bg.gif') repeat-x 0px 80px;
}

.timeline-axis {
    -moz-box-sizing: border-box;
    border-color: #e0e0e0 !important;
    border-top-style: solid !important;
    border-width: 1px !important;
    box-sizing: border-box;
    background: #fff;
}

.timeline-axis-grid {
    -moz-box-sizing: border-box;
    border-left-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

.timeline-axis-grid-minor {
    border-color: #e5e5e5;
}

.timeline-axis-grid-major {
    border-color: #bfbfbf;
}

.timeline-axis-text {
    color: #666666;
    padding: 3px;
    white-space: nowrap;
}

.timeline-axis-text-minor {
}

.timeline-axis-text-major {
}

.timeline-event {
    color: #1a1a1a;
    display: inline-block;
}

.timeline-event-selected {
    background-color: #fff785;
    border-color: #ffc200;
    z-index: 999;
}

/* TODO: use another color or pattern? */
.timeline-event-cluster {
    color: #333333;
}

.timeline-event-cluster .timeline-event-dot {
    border-color: #d5ddf6;
}

.timeline-event-box {
    text-align: center;
    top: 46px !important;
}

.timeline-event-dot {
    background: url('img/new/001-error.svg') no-repeat;
    width: 30px !important;
    height: 30px !important;
    top: 66px !important;
}
.timeline-event-dot.hovered,.timeline-event-dot.selected,.timeline-event-dot:hover {
    background: url('img/new/001-error-hover.svg') no-repeat !important;
    cursor: pointer;
}

.timeline-event-dot.green {
    background: url('img/normal.svg') no-repeat;
}
.green.hovered,.green.selected,.green:hover {
    background: url('img/normal-hover.svg') no-repeat !important;
    cursor: pointer;
}

.timeline-event-dot.invisible {
    display: none !important;
}

.timeline-event-dot.yellow {
    background: url('img/warning.svg') no-repeat !important;
}
.yellow.hovered,.yellow.selected, .yellow:hover {
    background: url('img/warning-hover.svg') no-repeat !important;
    cursor: pointer;
}

.timeline-event-dot.green-m {
    background: url('img/maintenance.svg') no-repeat !important;
}

.green-m.hovered,.green-m.selected,.green-m:hover {
    background: url('img/maintenance-hover.svg') no-repeat !important;
    cursor: pointer;
}

.timeline-event-range {
    -moz-border-radius: 2px; /* For Firefox 3.6 and older */
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}

.timeline-event-range-drag-left {
    cursor: w-resize;
    z-index: 1000;
}

.timeline-event-range-drag-right {
    cursor: e-resize;
    z-index: 1000;
}

.timeline-event-line {
    -moz-box-sizing: border-box;
    border-left-style: solid;
    border-left-width: 1px;
    box-sizing: border-box;
    display: none;
}

.timeline-event-content {
    margin: 5px;
    overflow: hidden;
    white-space: nowrap;
    top: 20px;
}

.timeline-groups-axis {
    -moz-box-sizing: border-box;
    border-color: #bebebe;
    border-width: 1px;
    box-sizing: border-box;
}

.timeline-groups-axis-onleft {
    border-style: none solid none none;
}

.timeline-groups-axis-onright {
    border-style: none none none solid;
}

.timeline-groups-text {
    color: #4d4d4d;
    padding-left: 10px;
    padding-right: 10px;
}

.timeline-currenttime {
    -moz-box-sizing: border-box;
    background-color: #ff7f6e;
    box-sizing: border-box;
    width: 2px;
}

.timeline-customtime {
    -moz-box-sizing: border-box;
    background-color: #6e94ff;
    box-sizing: border-box;
    cursor: move;
    width: 2px;
}

.timeline-container {
    position: relative;
    margin-top: 10px;
}

.timeline-controls-container {
    background: #fff;
    width: 88px;
    height: 125px;
    position: absolute;
    top: 0px;
    right: 10px;
    border-left: 1px solid #e0e0e0;
}

.timeline-controls {
    background: #fff;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    position: absolute;
    /*top: 40px;
    right: 0px;*/
    top: 16px;
    right: 6px;
}

.timeline-button {
  display: inline-block;
  padding: 14px 18px;
  vertical-align: bottom;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.btn-zoom-in {
    background: url('img/plus.svg') no-repeat center;
    background-size: 10px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    float: left;
}

.btn-zoom-out {
    background: url('img/minus.svg') no-repeat center;
    background-size: 10px;
    border-bottom: 1px solid #e0e0e0;
    float: left;
}

.btn-move-left {
    background: url('img/leftarrow.svg') no-repeat center;
    background-size: 8px;
    border-right: 1px solid #e0e0e0;
    clear: both;
    float: left;
}

.btn-move-right {
    background: url('img/rightarrow.svg') no-repeat center;
    background-size: 8px;
    float: left;
}

.btn-now {
    font-size: 14px;
    color: #666666;
    border: 1px solid #e0e0e0;
    padding: 12px 24px;
}

.timeline-navigation {
    -moz-border-radius: 2px; /* For Firefox 3.6 and older */
    -moz-box-sizing: border-box;
    background-color: #ffffff;
    color: #808080;
    border: 1px solid #e0e0e0;
}

.timeline-navigation-new,
.timeline-navigation-delete,
.timeline-navigation-zoom-in,
.timeline-navigation-zoom-out,
.timeline-navigation-move-left,
.timeline-navigation-move-right {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    height: 40px;
    padding: 10px;
    text-decoration: none;
    width: 40px;
}

.timeline-navigation-new {
    background: url('img/16/new.png') no-repeat center;
}

/* separator between new and navigation buttons */
.timeline-navigation-new-line {
    border-right: 1px solid #bebebe;
}

.timeline-navigation-delete {
    background: url('img/16/delete.png') no-repeat center;
}

.timeline-navigation-zoom-in {
    background: url('img/plus.svg') no-repeat center;
    background-size: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.timeline-navigation-zoom-out {
    background: url('img/minus.svg') no-repeat center;
    background-size: 10px;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.timeline-navigation-move-left {
    background: url('img/leftarrow.svg') no-repeat center;
    background-size: 7px;
    clear: both;
}

.timeline-navigation-move-right {
    background: url('img/rightarrow.svg') no-repeat center;
    background-size: 7px;
    border-left: 1px solid #e0e0e0;
}
.events {
    min-height: 400px;
    overflow-y:scroll;
	border: 0 none;
	max-height: 400px;
}

.event{
    background-color: inherit;
}



.timeline-event-dot.form , .timeline-container #eventcontainer .form{
    background: url('img/icons/form.svg') no-repeat;
}
.highlighted .form,
.timeline-event-dot.form.hovered,.timeline-event-dot.form.selected,.timeline-event-dot.form:hover ,
.timeline-container #eventcontainer .event.hovered .form, .timeline-container #eventcontainer .event.selected .form, .timeline-container #eventcontainer .event:hover .form{
    background: url('img/icons/form-hover.svg') no-repeat !important;
    cursor: pointer;
}

.timeline-event-dot.pageVisit , .timeline-container #eventcontainer .pageVisit {
    background: url('img/icons/globe.svg') no-repeat;
}
.highlighted .pageVisit,
.timeline-event-dot.pageVisit.hovered, .timeline-event-dot.pageVisit.selected, .timeline-event-dot.pageVisit:hover ,
.timeline-container #eventcontainer .event.hovered .pageVisit, .timeline-container #eventcontainer .event.selected .pageVisit, .timeline-container #eventcontainer .event:hover .pageVisit{
    background: url('img/icons/globe-hover.svg') no-repeat !important;
    cursor: pointer;
}

.timeline-event-dot.email , .timeline-container #eventcontainer .email{
    background: url('img/icons/mail.svg') no-repeat;
}
.highlighted .email,
.timeline-event-dot.email.hovered, .timeline-event-dot.email.selected, .timeline-event-dot.email:hover ,
.timeline-container #eventcontainer .event.hovered .email, .timeline-container #eventcontainer .event.selected .email, .timeline-container #eventcontainer .event:hover .email{
    background: url('img/icons/mail-hover.svg') no-repeat !important;
    cursor: pointer;
}
.timeline-container  #eventcontainer {
    background: #ffffff none repeat scroll 0 0;
    padding: 0 10px;
	position: relative;
}
.timeline-container  #eventcontainer .label-primary {
    background-color: black;
}

div#eventcontainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
}

div#eventcontainer::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

div#eventcontainer::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

div#eventcontainer::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.x_content.no-scrll {
    overflow-y: unset;
}
/*filter css*/

.toggle-link.link-active .icon-ok, .toggle-link.link-active .icon-alarm, .toggle-link.link-active .icon-star, .toggle-link.checked .icon-ok, .toggle-link.checked .icon-alarm, .toggle-link.checked .icon-star {
    color: rgb(132, 195, 64);
    display: inline;
}

.dropdown-menu > li > a, .dropdown-menu > .menu-group > li > a {
    color: rgb(15, 80, 95);
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    white-space: nowrap;
    padding: 10px 10px;
}

.toggle-link .checkbox {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 2px solid rgb(218, 222, 222);
    border-radius: 3px;
    display: block;
    float: left;
    height: 20px;
    line-height: normal;
    margin: 0 7px 0 0px;
    padding: 0 2px 0 3px;
    position: relative;
    text-align: center;
    width: 20px;
}

.toggle-link.link-active .checkbox, .toggle-link.checked .checkbox {
    border-color: rgb(132, 195, 64);
}


.toggle-link .checkbox i {
    color: #84c340;
    font-size: 11px;
    vertical-align: middle;
}

.timeline-container .label.pull-left{
    width: auto;
}
.timeline-event-dot.opportunity , .timeline-container #eventcontainer .opportunity{
    background: url('img/icons/oppertunity.svg') no-repeat;
}
.highlighted .opportunity, .timeline-event-dot.opportunity.hovered, .timeline-event-dot.opportunity.selected, .timeline-event-dot.opportunity:hover ,
.timeline-container #eventcontainer .event.hovered .opportunity, .timeline-container #eventcontainer .event.selected .opportunity, .timeline-container #eventcontainer .event:hover .opportunity{
    background: url('img/icons/opportunity-hover.svg') no-repeat !important;
    cursor: pointer;
}

.timeline-container .mail_list{
	border-bottom: 0 none;
	margin: 0;
}
.timeline-container .events .timeline-detail {
    display: inline-block;
    width: 100%;
	padding-bottom: 30px;
	position: relative;
	z-index: 2;
}
.timeline-container #eventcontainer .timeline-detail:before {
    position: absolute;
    content: " ";
    border-left: 1px solid #ccc;
    height: 100%;
    width: 1px;
    left: 29px;
    z-index: 1;
    top: 42px;
}
.timeline-container #eventcontainer .timeline-detail:last-child::before{
	border-left: 0 none;
}
.timeline-container .events .timeline-detail span{
	font-size: 16px;
}

.mail_list .left {
    float: left;
    min-height: 50px;
    vertical-align: middle;
    width: auto;
	min-width: 60px;
	padding: 0 10px;
	margin: 0;
	background-color: #fff;
}
.mail_list .right {
    float: left;
    min-height: 50px;
    vertical-align: middle;
    margin: 0;
	width: 91%;
	padding: 15px 30px;
	background-color: #f2f2f2;
	margin: 0 0 0 2.1%;
	position: relative;
}
.mail_list .right::after{
	bottom: 5px;
    content: "";
    height: 20px;
    left: -46px;
    position: absolute;
    width: 10px;
	border-right: 40px solid #f2f2f2;
	border-left: 8px solid transparent;
	border-top: 3px solid transparent;
	border-bottom: 18px solid transparent;
}

.timeline-container #eventcontainer .label{
	height: 40px !important;
    width: 100% !important;
	padding: 0;
}
.timeline-container .right > span {
    display: inline-block;
    width: 45%;
}
.right .visitTo {
    text-align: center;
}

.right .visitTo a {	
	color: #1fbb9d;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 160px;
    cursor: pointer;
}
.event:hover .right, .highlighted.event .right {
    background-color: #e3efd9;
}
.mail_list:hover .right::after, 
.highlighted.event .right:after {
	border-right: 40px solid #e3efd9;
}
.events {
    display: inline-block;
    margin-top: 40px;
    width: 100%;
}
.timeline-event-box {
    bottom: -125px !important;
    text-align: center;
    top: auto !important;
}

@media (max-width: 1260px) { 
	.mail_list .right{
		width: 88%;
		float: right;
	}
	.mail_list .left{
		padding-left: 0;
	}
	.timeline-container #eventcontainer .timeline-detail:before{
		left: 19px;
	}
	.timeline-container .right > span{
		width: 55%;
	}
	.timeline-container .right > span.visitTo{
		width: 44%;
	}
	.timeline-container .events .timeline-detail span {
		font-size: 14px;
	}
}
@media (max-width: 767px) { 
	.timeline-container .right > span, .timeline-container .right > span.visitTo {
		width: 100%;
		text-align: center;
	}
	.timeline-container .right > span.visitTo{
		margin-top: 5px;
	}
	
	.mail_list .right::after{
		bottom: auto;
		top: 5px;
	}
	.timeline-container #eventcontainer .timeline-detail:before{
		height: 100%;
	}
	.mail_list .right{
		width: 80%;
	}
}
@media (max-width: 480px) {
	.timeline-container  #eventcontainer{
		padding-left: 0;
	}
	.mail_list .right {
		width: 72%;
	}
}